
<div class="col-md-2-offset" style="margin-top: 10px">
  <div class="top-section" >
    <div >
    <ul class="tabs-menu">
      <button class="search-tab tab-left btn border-white btn-xs" [routerLinkActive]="['active']" (click)="showCampaigns()" >Campaigns</button>
      <button class="search-tab tab-right btn border-white btn-xs" [routerLinkActive]="['active']" (click)="showProjects()" >Live Projects</button>
    </ul>
    </div>
    <div class="end-search">
    <span class="input" >
    <i class="fa fa-search" aria-hidden="true" ></i>
    <input type="text" name="Search for NGOs, Projects, Campaigns…" autocomplete="off" placeholder="Search for NGOs, Projects, Campaigns…"
    (keyup)="searchTerm$.next($event.target.value)" >
    <i aria-hidden="true" ></i>
    </span>
    </div>
  </div>

  <!-- This will render by default -->
  <div class="outer-container">
    <div class="card" *ngFor='let d of data.response.docs'>
      <div class="img-wrapper">
        <img alt="image" class="img-circle m-t-xs img-responsive" src="{{d.creator_image}}">
        <div class="m-t-xs font-bold" style="white-space: pre-wrap" >{{d.name}}</div>
      </div>
      <div class="content-wrapper">
        <p class="text-muted"><i class="fa fa-clock-o"></i> {{d.created_at | date: 'MMMM d, yyyy'}}</p>
        <p class="text-muted"><i class="fa fa-heart"></i> {{d.supporter_count}}</p>
        <p class="text-muted">₹ {{d.raised_amount_in_inr}}</p>
        <p class=" text-muted fa fa-map-marker" aria-hidden="true" > {{d.location}}</p>
        <div class="cause-wrapper">
          <ul  style="list-style-type: none; width: 100%;" class="btn btn-xs" *ngFor="let cause of d.causes">
            <li style="white-space:pre-wrap">{{cause}}</li>
          </ul>
        </div>
        <div class="tags-wrapper">
          <ul  style="list-style-type: none" class="btn btn-xs"  *ngFor="let tag of d.tags">
            <li style="white-space:pre-wrap">{{tag}}</li>
          </ul>
        </div>
      </div>
    </div>


  </div>
  <div style="display:flex; justify-content: center;">
    <button class="btn btn-success" (click)="ShowMore()" >Show More</button>
  </div>
  <div *ngIf="hide" >
    <button class="btn btn-primary" (click)="expand()" >Expand</button>
  </div>
  <div *ngIf="showDownloadOptions" >
    <div>
      <i class="fa fa-chevron-left" aria-hidden="true" (click)="HIDE()"></i> &nbsp; <label>Options</label>
      <ul style="list-style-type: none" class="btn-wrap list">
        <li *ngFor="let i of array_of_keys" class="list-item">
          <input type="checkbox" (change)="updateChecked2(i,$event)" value="i" />{{i}}
        </li>
      </ul>
    </div>
    <button id="container"  class="btn btn-success" (click)="downloadData()" >Download</button>
  </div>
  </div>

