<!--The whole content below can be removed with the new code.-->
<div class="col-md-1" xmlns="http://www.w3.org/1999/html"></div>
<div class="col-md-10">
<app-header></app-header>
  <div class="button-wrapper" >
    <span class="btn border-white btn-lg" routerLink='/supporters_count' >Supporters Count</span>
    <span class="btn border-white btn-lg"  routerLink='/amount_raised' >Amount Raised</span>
    <span class="btn border-white btn-lg" routerLink='/created_at' >Date Modified</span>
  </div>
  <router-outlet></router-outlet>
  </div>
<div class="col-md-1"></div>


