<div class="col-md-2-offset" style="margin-top: 10px">
  <div class="outer-container">
    <div class="card" *ngFor='let a of amnt_raised_array.response.docs'>
      <div class="img-wrapper">
        <img alt="image" class="img-circle m-t-xs img-responsive" src="{{a.creator_image}}">
        <div class="m-t-xs font-bold" style="white-space: pre-wrap" >{{a.name}}</div>
      </div>
      <div class="content-wrapper">
        <p class="text-muted"><i class="fa fa-clock-o"></i> {{a.created_at | date: 'MMMM d, yyyy'}}</p>
        <p class="text-muted"><i class="fa fa-heart"></i> {{a.supporter_count}}</p>
        <p class="text-muted">₹ {{a.raised_amount_in_inr}}</p>
        <p class=" text-muted fa fa-map-marker" aria-hidden="true" > {{a.location}}</p>
        <div class="cause-wrapper">
          <ul  style="list-style-type: none; width: 100%;" class="btn btn-xs" *ngFor="let cause of a.causes">
            <li style="white-space:pre-wrap">{{cause}}</li>
          </ul>
        </div>
        <div class="tags-wrapper">
          <ul  style="list-style-type: none" class="btn btn-xs"  *ngFor="let tag of a.tags">
            <li style="white-space:pre-wrap">{{tag}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="hide" >
    <button class="btn btn-primary" (click)="expand()" >Expand</button>
  </div>
  <div *ngIf="showDownloadOptions" >
    <div>
      <label>Options</label>
      <ul style="list-style-type: none" class="btn-wrap list">
        <li *ngFor="let i of array_of_keys" class="list-item">
          <input type="checkbox" (change)="updateChecked2(i,$event)" value="i" />{{i}}
        </li>
      </ul>
    </div>
    <button id="container"  class="btn btn-success" (click)="downloadData()" >Download</button>
  </div>
</div>
